# IDE, Python build folders
.idea
__pycache__

# ML Model
engine_detect.keras

# Audio files - available on shared drive
audio
*.wav
*.mp3

# Folders and files generated through scripts
cut_audio
mfccs

demo
*/eng_temp
*.png