pydub
tqdm
librosa
numpy
matplotlib
sounddevice
scipy
PyQt5
audiomentations
pandas
ffmpeg

scikit-learn==1.4.2

#For Linux
tensorflow==2.16.1

#For Windows in order to use GPU enabled training
#python==3.9
#cudatoolkit==11.2
#cudnn==8.1.0
#tensorflow==2.10
